<div class="navbar-container" data-controller="navbar">
  <div class="navbar">
    <div class="menu-btn" data-action="click->navbar#toggle">
      <i class="fa-solid fa-bars" data-navbar-target="menuBtn"></i>
    </div>
  </div>

  <div class="menu" data-navbar-target="menu">
    <div>
      <p>Text</p>
    </div>
    <div>
      <p>Text</p>
    </div>
    <div>
      <p>Text</p>
    </div>
    <div>
      <p>Text</p>
    </div>
  </div>
</div>