.navbar-container {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.menu-btn {
  border: 2px solid #292722;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 1;
  background-color: #EBEBEB;

  i {
    font-size: 24px;
  }
}

.menu {
  width: 300px;
  height: 100vh;
  background-color: #D9D9D9;
  position: fixed;
  top: 0;
  right: -350px;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: -10px 10px 0px rgb(0, 0, 0);
  transition: 1s ease all;

  div {
    border-left: 2px solid #292722;
    border-bottom: 2px solid #292722;
    display: flex;
    align-items: center;
    padding-left: 16px;

    &:hover {
      background-color: #A6CAD6;
    }
  }

  div:last-child {
    border-bottom: none;
  }
}

.menu-visible {
  right: 0;
}